.main {
	border-radius: 0px;
    width: 200px;
    height: 200px;
    background-color: green;
    
}
.main:hover {
	border-radius:50%;
    background-color: orange;
    transition: all 1.5s ease;
}

#id1 {
	text-align: center;
	vertical-align: center;
}

